@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.logo {
  font-family: 'Bonheur Royale', serif;
}

@layer base {
  :root {
    --background: 120 100% 95%;
    --foreground: 120 5% 0%;
    --card: 120 50% 90%;
    --card-foreground: 120 5% 10%;
    --popover: 120 100% 95%;
    --popover-foreground: 120 100% 0%;
    --primary: 120 88.7% 38.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 82 30% 85%;
    --muted-foreground: 120 5% 35%;
    --accent: 82 30% 80%;
    --accent-foreground: 120 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 120 5% 90%;
    --border: 120 30% 50%;
    --input: 120 30% 18%;
    --ring: 120 88.7% 38.2%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 120 50% 5%;
    --foreground: 120 5% 90%;
    --card: 120 50% 0%;
    --card-foreground: 120 5% 90%;
    --popover: 120 50% 5%;
    --popover-foreground: 120 5% 90%;
    --primary: 120 88.7% 38.2%;
    --primary-foreground: 0 0% 100%;
    --secondary: 120 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 82 30% 15%;
    --muted-foreground: 120 5% 60%;
    --accent: 82 30% 15%;
    --accent-foreground: 120 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 120 5% 90%;
    --border: 120 30% 18%;
    --input: 120 30% 18%;
    --ring: 120 88.7% 38.2%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply font-light;
  }

  .logo {
    @apply font-logo;
  }
}


.cl-cardBox {
  box-shadow: none !important;
}

input {
  height: 50px !important;
  box-shadow: none !important;
  border: 1px solid #999 !important;
}

input:hover,
input:active {
  border-color: #111 !important;
}

.cl-formButtonPrimary {
  background-color: #111 !important;
  height: 40px !important;
}

